<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- ProductMapper Xml -->
<mapper namespace="org.fktm.fastpickup.order.mappers.OrderMapper">

    <!-- 주문 생성  -->
    <insert id ="createOrder">
        insert into tbl_order(memberID) values(#{memberID})
        
        <selectKey resultType="Long" keyProperty="ono" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>
    <!-- 주문 상품 생성 -->
    <insert id = "createOrderProduct">
        insert into tbl_order_product(ono, pno, quantity)
        values
        <foreach collection = "list" item = "orderProduct" separator=",">
            (#{orderProduct.ono}, #{orderProduct.pno}, #{orderProduct.quantity})
        </foreach>
    </insert>
    <!-- 주문 생성 및 주문 상품 생성 END -->
    
    <!-- 상품 상세 보기 -->
    <resultMap id="orderMap" type="org.fktm.fastpickup.order.dto.ReadOrderDTO">
        <id property="ono" column="ono"/>
        <result property="memberID" column="memberID"/>
        <result property="orderDate" column="orderDate"/>
        <result property="orderStatus" column="orderStatus"/>
        <collection property="orderProduct" resultMap="orderProducts"/>
    </resultMap>


    <resultMap type="org.fktm.fastpickup.order.dto.ReadOrderProductDTO" id="orderProducts">
        <result property = "productName" column="productName"/>
        <result property = "pno" column="pno"/>
        <result property = "quantity" column="quantity"/>
        <result property = "imgName" column = "imgName"/>
    </resultMap>

    <select id = "readOrder" resultMap = "orderMap">
        select tod.ono, tp.pno, tod.memberID, tod.orderDate, tod.orderStatus, tp.productName, top.quantity, concat(tpi.uuid,'_',tpi.imgName) as imgName
            from tbl_order tod 
		        left outer join tbl_order_product top on tod.ono = top.ono
		        left outer join tbl_product tp on top.pno = tp.pno
            left outer join tbl_product_img tpi on tpi.pno = tp.pno
        where tod.ono = #{ono};
    </select>

    <!-- 주문상태 변경 -->
    <update id ="modifyOrderStatus">
        update tbl_order 
            set orderStatus = #{orderStatus}
        where ono = #{ono}
    </update>

    <!-- 주문 리스트 -->
    <select id ="getOrderList">
        select tod.ono, max(tod.memberID) as memberID, max(tod.orderDate) as orderDate,
               max(tod.orderStatus) as orderStatus, max(tp.productName) as productName,
               sum(top.quantity) as quantity, max(concat(tpi.uuid,'_',tpi.imgName)) as imgName
        from tbl_order tod
                left outer join tbl_order_product top on tod.ono = top.ono
                left outer join tbl_product tp on top.pno =tp.pno
                left outer join tbl_product_img tpi on tpi.pno = tp.pno
        where tpi.imgOrd = 0
        <if test="keyword != null and types != null">
              <trim prefix="and (" prefixOverrides="or" suffix=")">
                <foreach collection="types" item="type" separator=" or ">
                  <if test='type == "s"'>
                    tod.orderStatus like concat('%', #{keyword}, '%')
                  </if>
                </foreach>
              </trim>
          </if>

        group by tod.ono
        order by tod.ono desc
        limit #{skip}, #{size}
    </select>
    <!-- 현재 페이지에서 주문 목록 총 개수 -->
    <select id ="getOrderTotal">
      select count(*)
      from(select tod.ono, max(tod.memberID) as memberID, max(tod.orderDate) as orderDate,
               max(tod.orderStatus) as orderStatus, max(tp.productName) as productName,
               sum(top.quantity) as quantity, max(concat(tpi.uuid,'_',tpi.imgName)) as imgName
          from tbl_order tod
                left outer join tbl_order_product top on tod.ono = top.ono
                left outer join tbl_product tp on top.pno =tp.pno
                left outer join tbl_product_img tpi on tpi.pno = tp.pno
        where tpi.imgOrd = 0
        <if test="keyword != null and types != null">
              <trim prefix="and (" prefixOverrides="or" suffix=")">
                <foreach collection="types" item="type" separator=" or ">
                  <if test='type == "s"'>
                    tod.orderStatus like concat('%', #{keyword}, '%')
                  </if>
                </foreach>
              </trim>
          </if>
        group by tod.ono
        order by tod.ono desc
        limit #{countEnd}
      ) as tbl_order
    </select>


</mapper>