<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- ProductMapper Xml -->
<mapper namespace="org.fktm.fastpickup.category.mappers.CategoryMapper">
    
    <!-- 카테고리 등록 -->
    <insert id = "registCategory">
        insert into tbl_category(categoryName) values(#{categoryName})

        <selectKey resultType="int" keyProperty="cno" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>

  <!-- 카테고리 읽기 -->
    <select id = "readCategory" resultType = "org.fktm.fastpickup.category.dto.CategoryDTO">
      select cno, categoryName, isDeleted
      from tbl_category
      where cno = #{cno} and isDeleted = false
    </select>

    <!-- 카테고리 리스트 -->
    <select id = "getCategoryList" resultType = "org.fktm.fastpickup.category.dto.CategoryDTO">
      select cno, categoryName, isDeleted
      from tbl_category
      where isDeleted = false
    </select>

    <!-- 카테고리 삭제 -->
    <update id = "removeCategory">
      update tbl_category set isDeleted = true
      where cno = #{cno}
    </update>

</mapper>